services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.0
    command: start-dev --import-realm
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "9090:8080"
    volumes:
      - ./keycloak-realm.json:/opt/keycloak/data/import/realm.json
